/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-apr-2016, 11.27.50
    Author     : Ele
*/

body {background: #FFFF66;      /* Colore sfondo */
font-family: "Arial", glider girls, times new romance; /* font del body */
color:black;}

h1 {
    font-family: Algerian;      /* font di h1 */
    color: #CC66CC;     /* Colore del testo */
    text-align: center;     /* allineamento centrato */
    font-size: 200%;
    text-decoration: underline;}    /* sottolineato */

h2{
    color:#FF6666;      /* Colore del testo */
    font-style: italic;     /* font di h2 */
    font-family: Gabriola normale;}

h3{
    color: #990099;}    /* Colore del testo */

p{  
    text-align: center;     /* allineamento centrato */
    font-style: italic;     /* font del paragrafo */
    font-size: 150%;
    font-family: Gabriola normale; }        /* font di p */

a:hover { 
    color: #CC33FF; /* Colore del testo */
    font-weight: bold;}

label{  
        color:#3366CC;  /* Colore del testo */
        font-weight: bold;  /* grassetto */
        font-style: italic; /* font */
        text-decoration: underline;     /* sottolineato */
        display: block; /* centra testo */
        float: left; 
}
input{  
        background: #FFFF99; /* Colore di sfondo */
        border: 1px solid; /* Bordo */
        color: black; /* Colore del testo */
        height: 15px; /* Altezza */
        line-height: 20px; /* Altezza di riga */
        width: 300px; /* Larghezza */
        border-collapse: collapse;}

textarea{   
            background: #FFFF99; /* Colore di sfondo */
            border: 1px solid; /* Bordo */
            color: black; /* Colore del testo */
            border-collapse: collapse;}

    label, input{           /*input label allineati!!!!!!!!!!!!!!!!*/
        display: block;
        width: 150px;
        float: left;
        margin-bottom: 10px;
    }
    
    input:focus{ border: 3px solid;} /*focus che quando selezioni una casella input rimane in risalto*/
    
.linklogin {
            text-align: center;}    /* Centrare i link di login */

.linkutili {
            text-align: center;}    /* Centrare i link di descrizione */
.linkutilicliente {
            text-align: center;}    /* Centrare i link di cliente */
.linkutilivenditore {
            text-align: center;} /* centrare i link di venditore */ 

table {
    border: 0px solid;
    background-color: black ;/*  bordo tabella */
    align-content: center; /* centrare intestazione tabella  */ 

     }

tr { /* intestazione */
    font-family: arial;
    text-align: center;
    color: white;/* testo intestazione tabella  */ 
    background-color: pink ; /*sfondo intestazione tabella  */ 
}

td { /* dati tabella */
    background-color: gray ; /* colore celle intero tabella */ 
    font-family: Comics sans ms;
    color: blue ; /*scritta interna della tabella */
    }
    
.idpari {background-color:white; }

