/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-apr-2016, 11.27.50
    Author     : Ele
*/

body {background: #FFFF66;
font-family: "Arial", glider girls, times new romance;
color:black;}

h1 {
    font-family: Algerian;
    color: #CC66CC;
    text-align: center;
    font-size: 200%;
    text-decoration: underline;}

h2{
    color:#FF6666;
    font-style: italic;
    font-family: Gabriola normale;}

h3{
    color: #990099;}

p{  
    text-align: center;
    font-style: italic;
    font-size: 150%;
    font-family: Gabriola normale; }

a:hover { 
    color: #CC33FF;
    font-weight: bold;}

label{  
        color:#3366CC;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
        display: block; /* centra testo */
        float: left;}

input{  
        background: #FFFF99; /* Colore di sfondo */
        border: 1px solid; /* Bordo */
        color: black; /* Colore del testo */
        height: 15px; /* Altezza */
        line-height: 20px; /* Altezza di riga */
        width: 300px; /* Larghezza */
        border-collapse: collapse;}

textarea{   
            background: #FFFF99; /* Colore di sfondo */
            border: 1px solid; /* Bordo */
            color: black; /* Colore del testo */
            border-collapse: collapse;}

.linklogin {
            text-align: center;}

.linkutili {
            text-align: center;}
.linkutilicliente {
            text-align: center;}
.linkutilivenditore {
            text-align: center;}


